<div class="footer">
    <footer>
        <div class="solutions">
            <h1>KSolutions</h1>
            <div> Finance helps companies<br> manage payments easily.</div>
            <div><i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-facebook-messenger"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-solid fa-infinity"></i>
            </div>
        </div>
        <div class="company">
            <h1>Company</h1>
            <ul>
                <li>services</li>
                <li>capabilities</li>
                <li>get a Quote</li>
            </ul>
        </div>
        <div class="terms">
            <h1>Terms</h1>
            <ul>
                <li>terms and conditions </li>
                <li>privacy policy</li>
            </ul>
        </div>
        <div class="Join">
            <h1>Join Our Newsletter</h1>
            <div class="last">
                <div><input type="email" placeholder="Your email address" name="email"/></div>
                <div><input type="submit" id="submit" value="Subscribe"/></div>
            </div>
            <p>* Will send you weekly updates for your better <br>finance management.</p>
        </div>
    </footer>
    <div class="copy_right">Copyright @Ksolutions 2022. All Rights Reserved.</div>
</div>