@import '../../partial-scss/variables';

.social-icons{
    margin:10px 0;

    a{
        margin-right: 15px;
    }
}

// i {
//     font-size: 1.5em;
//     margin-right: 10px;
//     margin-top: 30px;
//     color: aqua;
// }


footer .solutions {
    line-height: 30px;
}

footer .company ul,
feConvolveMatrix .terms ul {
    padding: 0px;
    list-style-type: none;
}

footer .company li,
footer .terms li {
    margin-bottom: 2vh;
}

footer{
    background-color:#000;
    color:$cardBg;
    width:100%;
    //padding: 25px;

    // display: flex;
    // justify-content: space-around;
    // gap: 40px;
    text-transform: capitalize;
    .last{
        display: flex;
        margin-right: 10px;
    }
    input {
        padding: 15px;
        border: none;
        border-radius: 0px !important;
    }
    p{opacity: 0.5;}

    input[type=submit] {
        background-color: aqua;
    }
}

.copy_right {
    text-align: center;
    color: white;
    text-align: start;
    padding-bottom: 30px;
    background-color: #000;
}