<div class="container-inside" id="services">
    <h1>Services</h1>
    <p>
        We so opinion friends me message as delight. Whole front do of plate heard oh ought. His defective nor convinced residence own.
    </p>
    <div class="serives-pro-icons">
        <a href="#" class="cloudDev">
            <img src="../../assets/group-4371.svg">
            Cloud Devops</a>
        <a href="#" class="sec">
            <img src="../../assets/group-43691.svg">
            Security</a>
        <a href="#" class="dataLot">
            <img src="../../assets/group-43711.svg">
            Data, Iot, ai
        </a>
        <a href="#" class="network">
            <img src="../../assets/group-4372.svg">
            Network
        </a>
        <a href="#" class="managedSer">
            <img src="../../assets/group1.svg">
            Managed Services
        </a>
        <a href="#" class="web3">
            <img src="../../assets/web3.svg">
                Web3
        </a>
    </div>

    <div class="cardsBox">
        <a class="cardPane lightPurpleColorBG">
            <div>
                <strong>01</strong>
                <div class="iconImgCenter">
                    <img src="../../assets/group-4371.svg"/>
                    <h3>Cloud Devops</h3>
                </div>
                <p> Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of
                </p>
            </div>           
        </a>
        <a class="cardPane lightGreenColorBG">
            <div>
                <strong>02</strong>
                <div class="iconImgCenter">
                    <img src="../../assets/group-43691.svg"/>
                    <h3>Security</h3>
                </div>
                <p> Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of
                </p>
            </div>
        </a>   

        <a class="cardPane lightYellowColorBG">
            <div>
                <strong>03</strong>
                <div class="iconImgCenter">
                    <img src="../../assets/group-43711.svg"/>
                    <h3>Data, IOT, Ai</h3>
                </div>
                <p> Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of
                </p>
            </div> 
        </a>  
        
        <a class="cardPane lightBrownColorBG">
            <div>
                <strong>04</strong>
                <div class="iconImgCenter">
                    <img src="../../assets/group-4372.svg"/>
                    <h3>Network</h3>
                </div>
                <p> Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of
                </p>
            </div>
        </a> 

        <a class="cardPane lightBlueColorBG">
            <div>
                <strong>05</strong>
                <div class="iconImgCenter">
                    <img src="../../assets/group1.svg"/>
                    <h3>Managed Services</h3>
                </div>
                <p> Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of
                </p>
            </div>
        </a>
        <a class="cardPane lightRedColorBG">
            <div>
                <strong>06</strong>
                <div class="iconImgCenter">
                    <img src="../../assets/web3.svg"/>
                    <h3>Web3</h3>
                </div>
                <p> Ipsum has been the industry's standard dummy text ever since the
                    1500s, when an unknown printer took a galley of
                </p>
            </div>  
        </a>
</div>
