<div class="container-inside toppadzero">
    <h1 class="mzero">About Team</h1>
    <p>
        Meet Our Visionary Team: Architects of Innovation and Expertise
    </p>

    <div class="teamCols">
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <!-- <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div>         -->
    </div>
</div>
