<div class="container-inside toppadzero">
    <h1 class="mzero">About Team</h1>
    <p>
        We so opinion friends me message as delight. Whole front do of plate heard oh ought. His defective nor convinced residence own.
    </p>

    <div class="teamCols">
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div> 
        <div class="teamprofile">
            <img src="../../assets/profile.png"/>
            <span>Android Developer</span>
            <span>Dinesh Pandit</span>
        </div>        
    </div>
</div>
