<div class="container-inside">
    <div class="contactpane">
        <h1>Get a Quote</h1>
    <div class="bordercurved"></div>
    <div class="grid">
        <input type="text" name="Fullname" placeholder="Fullname" id="Fullname"/>
        <input type="text" name="Company" placeholder="Company" id="Company"/>
        <input type="number" name="Telephone" placeholder="Telephone" id="Telephone"/>
        <input type="text" name="Business Email" placeholder="Business Email" id="Business Email"/>
    </div>
    <div class="textareabox">
        <textarea placeholder="Message" id="msg" name="msg" class="textboxMsg"></textarea>
        <input type="button" value="Send" class="sendbtn"/>
    </div> 
    </div>
    </div>