<div class="container-inside" id="getquote">
    <div class="contactpane">
        <h1>Get a Quote</h1>
    <div class="bordercurved"></div>
        <form [formGroup]="quoteForm" (ngSubmit)="onSubmit(quoteForm.valid, quoteForm.value)">
            <div class="grid">
                <input formControlName="fullName" type="text" name="Fullname" placeholder="Fullname" id="Fullname"/>
                <input formControlName="company" type="text" name="Company" placeholder="Company" id="Company"/>
                <input formControlName="phone" type="number" name="Telephone" placeholder="Telephone" id="Telephone"/>
                <input formControlName="email" type="text" name="Business Email" placeholder="Business Email" id="Business Email"/>
            </div>
            <div class="textareabox">
                <textarea formControlName="message" placeholder="Message" id="msg" name="msg" class="textboxMsg"></textarea>
                <label for="captcha">{{ mathProblem }} = </label>
                <input type="number" class="form-control" id="captcha" formControlName="answer" placeholder="Your Answer">
                <input type="submit" value="Send" class="sendbtn"/>
            </div> 
            <div *ngIf="feedbackMessage" class="invalid-feedback">{{ feedbackMessage }}</div>
        </form>
    </div>
    </div>