<div class="clientBG">
    <h3>Our Client</h3>
    <ul>
        <li><a href=""><img src="../../assets/group2.svg"/></a></li>
        <li><a href=""><img src="../../assets/group3.svg"/></a></li>
        <li><a href=""><img src="../../assets/group4.svg"/></a></li>
        <li><a href=""><img src="../../assets/group5.svg"/></a></li>
        <li><a href=""><img src="../../assets/group6.svg"/></a></li>
        <li><a href=""><img src="../../assets/group7.svg"/></a></li>
        <li><a href=""><img src="../../assets/group8.svg"/></a></li>        
    </ul>