/* .FreeQuotes__Container {
    background: transparent;
    display: flex;
    justifyContent-content:center;
    align-items:center;
    font-size:1.2rem;
    position:sticky;
}
.FreeQuotes__Row {
    display: flex;
    flex-direction: row;
    marginTop: 2%;
    width: 100%;
}
.FreeQuotes__WidthyRow {
display: flex;
 flex-direction: row;
 marginTop: 2%;
height: 60%;
 overflow: hidden;
width:80%;
} */

