@import '../../partial-scss/variables';
.header-column{
    width: 100%;
    display:flex;
    align-items: center;

    .ksolution-logo{
        img{
            width: 16px;
            height: 16px;
            position: relative;
            top: 3px;
            margin-right: 10px;
        }
    }

    nav{
        ul{
        display: flex;
        list-style: none;
        padding:0px;

        li a{
            color:#fff;
            text-decoration: none;
            transition: 0.1s ease;
            
            &:hover{
            border-bottom: 3px solid #fff;
            padding: 6px 0; 
            }
        }
        li.active a{
            color:$fontSpecialColor;

            &:hover{
                border-bottom: 3px solid $fontSpecialColor;
                padding: 6px 0; 
                }
        }
    }
    }
    .top-quote{
        text-align: right;
    }
}