<div class="closehamburger" [class.show]="isDivVisible" [class.hide]="!isDivVisible">X</div>
<div class="header-column">
    <div class="hamburger" #humburger>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>   
    <div class="ksolution-logo">
        <a (click)="getClass($event)"  routerLink="" fragment="home">
            <img src="../../assets/logo-ksolution.png"/>Ksolutions
        </a>
    </div>
    <nav #menus [class.show]="isDivVisible" [class.hide]="!isDivVisible">
        <ul class="menu-row">
            <li><a class="active" (click)="getClass($event)"  routerLink="" fragment="home">Home</a></li>
            <li><a (click)="getClass($event)"  routerLink="" fragment="services">Services</a></li>
            <li><a (click)="getClass($event)"  routerLink="" fragment="capabilities">Capabilities</a></li>

            <!-- <li class="active"><a (click)="getClass($event, 'home')">Home</a></li>
            <li><a (click)="getClass($event, 'services')"  >Services</a></li>
            <li><a (click)="getClass($event, 'capabilities')" >Capabilities</a></li> -->
        </ul>
    </nav> 
    <div class="top-quote" [class.show]="!isDivVisible" [class.hide]="isDivVisible">
        <button class="btn-quote" (click)="getClass($event)"  routerLink="" fragment="getquote">Get a Quote</button>
    </div>
</div>