<div class="container-inside">
    <h1 class="mzero">Capabilities</h1>
    <p>
        Our team of experts is skilled and experienced in leveraging these technologies to empower businesses.
    </p>

    <div class="capabilitiescols">
        <div class="solucols">
            <div class="awsSol">AWS (Amazon Web Services)<span>Lorem Ispum</span></div>
            <div class="cisco">Cisco Networking Solutions<span>Lorem Ispum</span></div>
            <div class="frontier">Fortinet Security Solutions<span>Lorem Ispum</span></div>
            <div class="virtu">Virtualization<span>Lorem Ispum</span></div>
            <div class="gcp">GCP (Google Cloud Platform)<span>Lorem Ispum</span></div>
        </div>
        <div class="exelexperties">
            <p class="chooseus">Why choose us</p>
            <h2>We excel in providing comprehensive solutions</h2>
            <p>Our team of experts is skilled and experienced in leveraging these technologies to empower businesses</p>
        </div>
    </div>
    <div class="capabilitiescols mzero">
        <div class="exelexperties">
            <p class="chooseus">Why choose us</p>
            <h2>We excel in providing comprehensive solutions</h2>
            <p>Our team of experts is skilled and experienced in leveraging these technologies to empower businesses</p>
        </div>
        <div class="solucols">
            <div class="docker">Docker Containers</div>
            <div class="kubernetes">Kubernetes Orchestration</div>
            <div class="python">Python Development</div>
        </div>
    </div>
</div>
