<div class="home-solutionsPro">
    <div class="solu-pro-text">
        <div><span>Solutions</span> We Provide</div>
        <ul>
            <li>Cloud and Devops</li>
            <li>Security</li>
        </ul>
    </div>
    <div class="solu-pro-quality">
        <ul>
            <li><img class="irap" src="../../../assets/image-5@2x.png"/></li>
            <li><img class="microsoft" src="../../../assets/image-4@2x.png"/></li>
            <li><img class="iso" src="../../../assets/image-2@2x.png"/></li>
            <li><img class="certified" src="../../../assets/image-3@2x.png"/></li>            
        </ul>
    </div>
</div>