//$myFont:'Manrope-Local', sans-serif; //by @font-face local file
$fontsFamily:'Manrope', sans-serif; //by googleapis fonts
$fontsColor: #000;
$fontsSize: 1em;
$screenWidth:100%;
$screenHeight: 100vh;
$cardBg: #fff;
$cardBorder: #ABC8D2;
$cardShadow: #333;
$bgWhite: #fff;
$fontSpecialColor:#6AF4FC;
$cloudDevColor:#9747FF;
$secColor:#27AC7C;
$dataLotai:#94B513;
$network:#D28224;
$managedSer:#1372C9;
$webThree:#D05C5C;
$footprintBG:#C9E7F2;
$readMore:#0E8087;
$clientScrBG:#F5F6F8;
$lightViolet: rgba(151, 71, 255, 0.2);
$lightGreen:rgba(39, 172, 124, 0.25);
$lightYellow:rgba(230, 254, 133, 0.45);
$lightBrown:rgba(210, 130, 36, 0.25);
$lightBlue:rgba(19, 114, 201, 0.25);
$lightred:rgba(208, 92, 92, 0.25);
$solsColor:#3734A9;
$textgray:#757095;
$bordercurvecolor:#06D8E4;
$seablueBG:#dff6ff;
$inputbordercolor:#CDCDCD;


