<div class="foorprintBG">
    <h1>Our Foot Prints</h1>
    <p>
        Explore Our Footprints: Where Innovation Meets Expertise.
    </p>
    <div class="cardsBox">
        <div class="cardPane">
            <h3>
                Explore Cloud Innovations
            </h3>
            <p>Unleash the future of tech: contribute your insights and articles about cloud solutions, shaping the
                digital revolution.</p>
            <!-- <div>
                <a href="">Read More <img src="../../assets/Vector@2x.svg"></a>
            </div> -->
        </div>
        <div class="cardPane">
            <h3>
                Connect with Cloud Experts
            </h3>
            <p>Join our dynamic community of cloud enthusiasts. Engage with experts, ask questions, and find innovative
                solutions together.</p>
            <!-- <div>
                <a href="">Read More <img src="../../assets/Vector@2x.svg"></a>
            </div> -->
        </div>
        <div class="cardPane">
            <h3>
                Showcase Your Expertise
            </h3>
            <p>Share your passion for cloud technology. Be a guest writer, discuss trends, or list your services—become
                a recognized cloud solutions leader.
            </p>
            <!-- <div>
                <a href="">Read More <img src="../../assets/Vector@2x.svg"></a>
            </div> -->
        </div>
        <div class="cardPane">
            <h3>
                Discover Top Cloud Services
            </h3>
            <p>Effortlessly navigate our curated directory of premium cloud service providers. Find tailored solutions for your hosting and software needs.</p>
            <!-- <div>
                <a href="">Read More <img src="../../assets/Vector@2x.svg"></a>
            </div> -->
        </div>
        <div class="cardPane">
            <h3>
                Stay Updated, Stay Ahead
            </h3>
            <p>Dive into the latest cloud tech updates. Follow us for articles, news, and reviews. Stay ahead in the ever-evolving cloud solutions landscape.</p>
            <!-- <div>
                <a href="">Read More <img src="../../assets/Vector@2x.svg"></a>
            </div> -->
        </div>
    </div>
</div>